version: '3'

services:
  app:
    build:
      context: ./app
    entrypoint: dockerize -wait tcp://database:3306 -timeout 20s npx nodemon src/index.js
    image: thyagorafaell/app
    container_name: app
    networks:
      - main
    depends_on:
      - database
    tty: true
    volumes:
      - ./app/src:/usr/src/app/src
    environment:
      MYSQL_DATABASE: fullcycle-docker-challenge
      MYSQL_PASSWORD: wjmehbukwp
      MYSQL_USER: Subsidize8502

  server:
    build:
      context: ./server
    image: thyagorafaell/server
    container_name: server
    networks:
      - main
    depends_on:
      - app
    ports:
      - "8080:80"

  database:
    image: mysql:8.3.0
    container_name: database
    networks:
      - main
    restart: always
    environment:
      MYSQL_DATABASE: fullcycle-docker-challenge
      MYSQL_PASSWORD: wjmehbukwp
      MYSQL_ROOT_PASSWORD: kxqcsltocb
      MYSQL_USER: Subsidize8502

networks:
  main:
    driver: bridge